<clr-header>
	<div class="branding">
		<a routerLink="/latest" class="nav-link">
			<span class="title">{{ 'app.name' | translate }}</span>
		</a>
	</div>
	<div class="header-nav" [clr-nav-level]="1">
		<a routerLink="/portofolio" routerLinkActive="active" class="nav-link"><span class="nav-text">{{ 'portofolio.title' | translate }}</span></a>
		<a routerLink="/admin" routerLinkActive="active" *ngxPermissionsOnly="['ADMIN']" class="nav-link"><span class="nav-text">{{ 'admin.title' | translate }}</span></a>
	</div>
	<div class="header-actions">
		<ng-container *ngIf="login">
			<a class="nav-link" >
				<span class="nav-text" [style.color]="baseCurrency?.quantity | balancedColor">
					<strong>{{baseCurrency?.quantity | number}} {{baseCurrency?.symbol.code}}</strong>
				</span>
			</a>
			<clr-dropdown>
				<button class="nav-text" clrDropdownTrigger>
					{{login}}
					<clr-icon shape="caret down"></clr-icon>
				</button>
				<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
					<a (click)="logout()" clrDropdownItem>{{ 'logout.title' | translate }}</a>
				</clr-dropdown-menu>
			</clr-dropdown>
		</ng-container>

		<ng-container *ngIf="!login">
			<div class="clr-row clr-align-items-center">
				<div class="clr-col">
					<a routerLink="/login" class="btn btn-primary-outline"><clr-icon shape="login"></clr-icon> {{ 'login.title' | translate }}</a>
					<a routerLink="/signup" class="btn btn-success-outline">{{ 'signup.title' | translate }}</a>
				</div>
			</div>
		</ng-container>
	</div>
</clr-header>