:host {
    ::ng-deep {
        .p-inputnumber-buttons-stacked {
            max-height: 1.8rem;

            input {
                max-width: 70%;
            }
        }

        .p-inputnumber-button {
            max-width: 1.5rem;
        }
    }
}