<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
	
	<h5 class="modal-title">
		{{orderInfo?.selectedCurrency.symbol.name}} <cds-icon shape="angle" direction="right"></cds-icon> {{orderInfo?.selected.symbol.name}}
	</h5>

	<div class="modal-body">
		<form class="clr-form clr-form-compact">
			<p-inputNumber [disabled]="sellAll" class="order" name="input" inputId="input" [ngModel]="selectedQuantity" (onInput)="selectedQuantity = $event.value" [showButtons]="true" [min]="0"></p-inputNumber>

			<clr-toggle-container *ngIf="orderType === 'SELL'">
				<clr-toggle-wrapper>
					<input type="checkbox" clrToggle name="options" value="option1" [(ngModel)]="sellAll" />
					<label>{{'order.sell-all' | translate}}</label>
				</clr-toggle-wrapper>
			</clr-toggle-container>

			<select clrSelect [(ngModel)]="selectedSymbol" *ngIf="availableSymbols" name="selectedSymbol">
				<option *ngFor="let s of availableSymbols" [ngValue]="s">{{s.code}} - {{s.name}}</option>
			</select>

		</form>
	
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<table class="table table-striped table-hover" *ngIf="orderInfo?.selected as selected">
					<tbody>
						<tr *ngIf="selected.quantity">
							<td>{{ 'asset.owned' | translate }}</td>
							<td>{{selected.quantity | number}}</td>
						</tr>
						<tr *ngIf="asset?.currentValue">
							<td>{{ 'asset.current-value' | translate }}</td>
							<td>{{asset.currentValue | number}}</td>
						</tr>
						<tr *ngIf="selected.currentRate">
							<td>{{ 'asset.current-rate' | translate }}</td>
							<td>{{selected.currentRate | number}}</td>
						</tr>
						<tr *ngIf="asset?.percentChange">
							<td>{{ 'percent-change' | translate }}</td>
							<td [appBalancedColor]="asset.percentChange">{{asset.percentChange | number}}</td>
						</tr>
						<tr *ngIf="selected.valueChange">
							<td>{{ 'value-change' | translate }}</td>
							<td [appBalancedColor]="selected.valueChange">{{selected.valueChange | number}} {{orderInfo.selectedCurrency?.symbol.code}}</td>
						</tr>
						<tr *ngIf="orderInfo.selectedCurrency as sc">
							<td>{{ 'order-info.currency-available' | translate }}</td>
							<td><span>{{sc.quantity | number}} {{sc.symbol.code}}</span></td>
						</tr>
						<tr *ngIf="orderInfo.gainCost">
							<ng-template [ngIf]="orderType === 'BUY'" [ngIfElse]="gainSell">
								<td>
									<b>{{ 'order-info.cost' | translate }}</b>
								</td>
								<td [appBalancedColor]="-1*orderInfo.gainCost">
									<b>{{-1*orderInfo.gainCost | number}} {{orderInfo.selectedCurrency?.symbol.code}}</b>
								</td>
							</ng-template>
							<ng-template #gainSell>
								<td>
									<b>{{ 'order-info.gain' | translate }}</b>
								</td>
								<td [appBalancedColor]="orderInfo.gainCost">
									<b>{{orderInfo.gainCost | number}} {{orderInfo.selectedCurrency?.symbol.code}}</b>
								</td>
							</ng-template>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<clr-alert clrAlertType="danger" *ngIf="!!error" (clrAlertClosedChange)="resetError()"><clr-alert-item><span class="alert-text">{{error}}</span></clr-alert-item></clr-alert>
	</div>
	<div class="modal-footer">
    	<button type="button" (click)="order()" [className]="orderType === 'BUY' ? 'btn btn-success' : 'btn btn-danger'">{{orderType}}</button>
	</div>
</clr-modal>

<div class="btn-group" *ngIf="asset">
	<button type="button" class="btn btn-success" (click)="open('BUY')">{{ 'order.buy' | translate }}</button>
	<button type="button" class="btn btn-danger" (click)="open('SELL')">{{ 'order.sell' | translate }}</button>
</div>

<button *ngIf="!asset" type="button" class="btn btn-success" (click)="open('BUY')">{{ 'order.buy-new-asset' | translate }}</button>