<p-messages></p-messages>
<p-table [value]="result | searchResultToResult" styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
				 [sortField]="'lastUpdate'"
				 [sortOrder]="1"
				 [paginator]="true"
				 [rows]="10"
				 [showPageLinks]="false"
				 [showJumpToPageDropdown]="true"
				 currentPageReportTemplate="{first} - {last} ({totalRecords})"
				 [rowsPerPageOptions]="[10, 20, 50, 100]"
>
	<ng-template pTemplate="caption">
		<div class="flex">
			<span class="p-input-icon-left ml-auto" [formGroup]="searchFormGroup">
				<i class="pi pi-search" *ngIf="!searchCode"></i>
				<i class="pi pi-times" *ngIf="searchCode" (click)="resetSearchCode()"></i>
				<input class="p-inputtext-sm" pInputText type="text" formControlName="searchCode" placeholder="{{ 'admin.search-placeholder' | translate }}" />
			</span>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			<th>{{ 'pair.name' | translate }}</th>
			<th>{{ 'pair.symbol' | translate }}</th>
			<th class="hidden sm:table-cell">{{ 'pair.exchange' | translate }}</th>
			<th class="hidden md:table-cell">{{ 'pair.type' | translate }}</th>
			<th class="hidden md:table-cell">{{ 'pair.provider' | translate }}</th>
			<th class="hidden md:table-cell" pSortableColumn="lastUpdate">{{ 'pair.lastUpdate' | translate }}<p-sortIcon field="lastUpdate"></p-sortIcon></th>
			<th></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-r>
		<tr data-test="table-line">
			<td>{{r.name}}</td>
			<td>{{r.code}}</td>
			<td class="hidden sm:table-cell">{{r.exchange}}</td>
			<td class="hidden md:table-cell">{{r.type}}</td>
			<td class="hidden md:table-cell">{{r.providerCode}}</td>
			<td class="hidden md:table-cell">{{r.lastUpdate | date:'dd/MM/yy HH:mm:ss'}}</td>
			<td>
				<p-button size="small" severity="success" *ngIf="r.type" (click)="add(r.code, r.providerCode)" label="{{ 'admin.add' | translate }}"></p-button>
				<app-actions-pair *ngIf="!r.type" [pair]="getPairFromResult(r.id)" (removeConfirmed)="remove(getPairFromResult(r.id), $event)" (updateConfirmed)="update($event)"></app-actions-pair>
			</td>
		</tr>
	</ng-template>
</p-table>
