<clr-alert *ngIf="!!message" (clrAlertClosedChange)="resetMessage()"><clr-alert-item><span class="alert-text">{{message}}</span></clr-alert-item></clr-alert>
<clr-alert clrAlertType="danger" *ngIf="!!error" (clrAlertClosedChange)="resetError()"><clr-alert-item><span class="alert-text">{{error}}</span></clr-alert-item></clr-alert>

<form class="clr-form clr-form-compact" [formGroup]="formGroup">
	<div class="clr-form-control">
			<div class="clr-input-wrapper">
				<cds-icon shape="search"></cds-icon>
				<input class="clr-input" type="text" name="code" formControlName="searchCode" placeholder="{{ 'admin.search-placeholder' | translate }}"/>
				<button class ="btn btn-link btn-icon delete-button"><cds-icon shape="times" *ngIf="searchCode" (click)="searchCode = null"></cds-icon></button>
			</div>
	</div>
</form>

<clr-datagrid class="datagrid-compact">
	<clr-dg-column>{{ 'pair.name' | translate }}</clr-dg-column>
	<clr-dg-column>{{ 'pair.symbol' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-xs-down">{{ 'pair.exchange' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-sm-down">{{ 'pair.type' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-sm-down">{{ 'pair.provider' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-sm-down" [clrDgSortBy]="'lastUpdate'">{{ 'pair.lastUpdate' | translate }}</clr-dg-column>
	<clr-dg-column></clr-dg-column>

	<clr-dg-row *clrDgItems="let r of result">
		<clr-dg-cell>{{r.name}}</clr-dg-cell>
		<clr-dg-cell>{{r.code}}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-xs-down">{{r.exchange}}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-sm-down">{{r.type}}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-sm-down">{{r.providerCode}}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-sm-down">{{r.lastUpdate | date:'dd/MM/yy HH:mm:ss'}}</clr-dg-cell>
		<clr-dg-cell>
			<div class="btn-group">
				<button *ngIf="r.type" type="button" class="btn btn-success" (click)="add(r.code, r.providerCode)">{{ 'admin.add' | translate }}</button>
				<button *ngIf="!r.type" type="button" class="btn btn-danger" (click)="remove(r.code, r.providerCode)">{{ 'admin.remove' | translate }}</button>
			</div>
		</clr-dg-cell>
	</clr-dg-row>

	<clr-dg-footer>
		<clr-dg-pagination #pagination>
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]"></clr-dg-page-size>
			{{ 'pagination.text' | translate: {first: pagination.firstItem + 1, last: pagination.lastItem + 1, total: pagination.totalItems} }}
		</clr-dg-pagination>
	</clr-dg-footer>
</clr-datagrid>	