<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{admin.name}"></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/@bootstrap.version@/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/@datatables.version@/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/@datatables-responsive.version@/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div th:replace="fragments/header-footer :: header"></div>
	<div th:replace="fragments/header-footer :: footer"></div>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/@datatables.version@/js/jquery.dataTables.min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/@datatables.version@/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/responsive/@datatables-responsive.version@/js/dataTables.responsive.min.js"></script>
	
	<div class="container">
	
		<div th:replace="fragments/msg :: msg(response=${response})"></div>

		<form class="form-inline" method="get" action="#" th:action="@{/admin}">
			<div class="row">
				<div class="col-md-10">
					<input type="text" name="code" class="form-control" th:placeholder="#{symbols.search.hint}" 
					th:value="${param.code} and ${param.code[0]} ? ${param.code[0]}"/> 
					<input class="btn btn-default" type="submit" value="Search" th:formaction="@{/admin}"/>
				</div>
			</div>
		</form>
		
		<hr noshade="noshade"></hr>
		
		<script type="text/javascript" th:inline="javascript">			
			$(function() { 
		        $("#symbolsTable").DataTable({
	                searching: false,
	                responsive: {
	                	details: {
	                        type: 'column'
	                    }	                	
	                },
	                columnDefs: [
	                	{"orderable": false, "targets": 5}
		        	],
		        	"autoWidth": false
		        });
			 }); 
		</script>	
		
		<table id="symbolsTable" class="table table-striped table-hover">
			<thead>
				<tr>
					<th data-priority="1">Name</th>
					<th data-priority="3">Symbol</th>
					<th data-priority="5">Exchange</th>
					<th data-priority="6">Type</th>
					<th data-priority="4">Provider</th>
					<th data-priority="2"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s : ${existingSymbols}">
					<td><a th:inline="text">[[${s.name}]]</a></td>
					<td th:text="${s.symbol}"></td>
					<td></td>
					<td></td>
					<td th:text="${s.provider}"></td>
					<td>
						<form method="post" action="#" th:action="@{/admin}" th:method="delete">
							<input type="hidden" name="code" th:value="${s.symbol}"/>
							<input class="btn btn-danger" type="submit" value="Remove" th:formaction="@{/admin}"/>
						</form>
					</td>
				</tr>	
				<tr th:each="s : ${availableSymbols}">
					<td th:text="${s.name}"></td>
					<td th:text="${s.code}"></td>
					<td th:text="${s.exchange}"></td>
					<td th:text="${s.type}"></td>
					<td th:text="${s.provider}"></td>
					<td>
						<form method="post" action="#" th:action="@{/admin}">
							<input type="hidden" name="code" th:value="${s.code}"/>
							<input type="hidden" name="provider" th:value="${s.provider}"/>
							<input class="btn btn-success" type="submit" value="Add" th:formaction="@{/admin}"/>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>