<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="#{user.create}"></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/@bootstrap.version@/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/signin.css" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div th:replace="fragments/header-footer :: header"></div>
	<div th:replace="fragments/header-footer :: footer"></div>

	<div class="container">

		<form class="form-signin" method="post" action="#" th:action="@{/user/signup}"  th:object="${form}">
			<div class="form-group">
				<label th:utext="#{user.login}"></label> 
				<input th:field="*{login}" class="form-control" /> 
				<div class="alert alert-danger" role="alert" th:errors="*{login}"></div>
			</div>
			
			<div class="form-group">
				<label th:utext="#{user.password1}"></label> 
				<input type="password" th:field="*{password1}" class="form-control" /> 
				<div class="alert alert-danger" role="alert" th:errors="*{password1}"></div>
			</div>
			
			<div class="form-group">
				<label th:utext="#{user.password2}"></label> 
				<input type="password" th:field="*{password2}" class="form-control" />
				<div class="alert alert-danger" role="alert" th:errors="*{password2}"></div>
			</div>

			<div th:if="${isRecaptchaEnabled}">
				<div class="form-group" id="g-recaptcha"></div>
				<div class="alert alert-danger" role="alert" th:errors="*{recaptchaResponse}"></div>
				<input type="hidden" th:field="*{recaptchaResponse}" id="recaptchaResponse" />
				
				<script type="text/javascript" th:inline="text">
					var onloadCallback = function() {
						grecaptcha.render('g-recaptcha', {
							'sitekey' : "[[${recaptchaSiteKey}]]",
							'callback' : function(response) {
								document.getElementById('recaptchaResponse').value = response;
							},
							'theme' : 'light'
						});
					};
				</script>
				<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="async" defer="defer"></script>
			</div>

			<div class="form-group" >
				<input type="submit" class="btn btn-lg btn-success btn-block" th:value="#{user.create}" />
			</div>
		</form>
	</div>
</body>
</html>