.pi {
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

a.google {
    color: black;
    text-decoration: none;
}

button.google {
    background-color: white;
    color: black;
    border-color: black;
}

button:hover.google {
    background-color: lightgrey;
}

button.github {
    background-color: dimgrey;
    border-color: dimgrey;
}

button:hover.github {
    background-color: black;
}

a.github {
    color: white;
    border-color: dimgrey;
    text-decoration: none;
}

a:hover.github {
    color: white;
}
