clr-password-container + .btn-primary {
    margin-top: 2rem;
}

.pi {
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

a.google {
    background-color: white;
    color: black;
    border-color: black;
}
a:hover.google {
    background-color: lightgrey;
}

a.github {
    background-color: dimgrey;
    color: white;
    border-color: dimgrey;
}
a:hover.github {
    background-color: black;
    color: white;
}

hr {
    margin-top: 1rem;
}