<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<appender name="SCHEDULED_RATE_TASKS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/trading-scheduled-tasks.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
 
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${catalina.base}/logs/trading-scheduled-tasks-%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
 
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="fr.ymanvieu.trading.rate.scheduler" level="INFO" additivity="false">
		<appender-ref ref="SCHEDULED_RATE_TASKS_FILE" />
	</logger>
	<logger name="fr.ymanvieu.trading.config.SchedulerConfig" level="INFO" additivity="false">
		<appender-ref ref="SCHEDULED_RATE_TASKS_FILE" />
	</logger>
</configuration>