.curr {
	max-width: 70px;
}

.value {
	min-width: 50px;
	max-width: 50px;
}

.col-md-8 {
	margin-bottom: -10px;
}

h1 {
	text-align: center;
}

.m-align {
	vertical-align: middle;
}