<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head>
<link rel="stylesheet" href="/webjars/bootstrap/@bootstrap.version@/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<div th:replace="fragments/msg :: msg(response=${response})"></div>
	</div>
	
	<div ui-view=""></div>

	<script type="text/javascript" src="/webjars/angularjs/@angularjs.version@/angular.min.js"></script>
	<script type="text/javascript" src="/webjars/angularjs/@angularjs.version@/angular-resource.min.js"></script>
	<script type="text/javascript" src="/webjars/angular-ui-bootstrap/@angular-ui-bootstrap.version@/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="/webjars/lodash/@lodash.version@/lodash.min.js"></script>
	<script type="text/javascript" src="/webjars/restangular/@restangular.version@/restangular.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/@bootstrap.version@/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/angular-ui-router/@angular-ui-router.version@/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/app/app.js"></script>
	<script type="text/javascript" src="/app/routing.js"></script>
	<script type="text/javascript" src="/app/api.js"></script>
	<script type="text/javascript" src="/app/latestController.js"></script>
	<script type="text/javascript" src="/app/chartController.js"></script>
	<script type="text/javascript" src="/app/sortBy.js"></script>

	<script type="text/javascript" src="/webjars/highstock/@highstock.version@/highstock.js"></script>
	<script type="text/javascript" src="/js/highcharts-ng.js"></script>

	<script type="text/javascript" src="/webjars/stomp-websocket/@stomp.version@/stomp.min.js"></script>
	<script type="text/javascript" src="/webjars/sockjs-client/@sockjs.version@/sockjs.min.js"></script>
</body>
</html>