<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Portofolio</title>
<link rel="stylesheet" href="/webjars/bootstrap/@bootstrap.version@/css/bootstrap.min.css" />
<link rel="stylesheet" href="/webjars/datatables/@datatables.version@/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>		
	<div th:replace="fragments/header :: header"></div>
	
	<script type="text/javascript" src="/webjars/datatables/@datatables.version@/js/jquery.dataTables.min.js" ></script>
	<script type="text/javascript" src="/webjars/datatables/@datatables.version@/js/dataTables.bootstrap.min.js"></script>
	
	<div class="container">
	
		<div th:replace="fragments/msg :: msg(response=${response})"></div>
		
		<script type="text/javascript" th:inline="javascript">			
			$(function() { 
				$("#portofolioTable").DataTable({
		            columnDefs: [{ 
		            	type: 'formatted-num', targets: [2,3,4,5,6]}
	                   ]
		        });
			 }); 
			
			jQuery.extend( jQuery.fn.dataTableExt.oSort, {
			    "formatted-num-pre": function ( a ) {
			        a = (a === "-" || a === "") ? 0 : a.replace( /[^\d\-\.\,]/g, "").replace( /,/, "." );
			        return parseFloat( a );
			    },
			 
			    "formatted-num-asc": function ( a, b ) {
			        return a - b;
			    },
			 
			    "formatted-num-desc": function ( a, b ) {
			        return b - a;
			    }
			} );
		</script>
		
		<table id="portofolioTable" class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Code</th>
					<th>Currency</th>
					<th>Quantity</th>
					<th>Current value</th>
					<th>Current rate</th>
					<th>% change</th>
					<th>Value change</th>
				</tr>
			</thead>
			<tfoot>
				<tr th:object="${portofolio}" style="font-weight: bold;">
				    <td>Total</td>
				    <td>
				    	<span th:inline="text">
							<img class="m-align" th:if="*{baseCurrency.symbol.countryFlag} != null" th:src="'/img/flag/'+*{baseCurrency.symbol.countryFlag}+'.gif'" />
							<span class="m-align">[[*{baseCurrency.symbol.name}]]</span>
						</span>	
				    </td>
				    <td></td>
				    <td th:text="${{portofolio.currentValue}}"></td>
				    <td></td>
				 	<td class="colored" th:inline="text">
						[[*{percentChange eq 0} ? '0' : *{{percentChange}}]]
				 	</td>
				    <td class="colored" th:inline="text">
						[[*{valueChange eq 0} ? '0' : *{{valueChange}}]]
				 	</td>
				  </tr>
  			</tfoot>
			<tbody th:object="${portofolio}">
				<tr th:each="a : *{assets}">
					<td> 
						<span th:inline="text">
							<img class="m-align" th:if="${a.symbol.countryFlag} != null" th:src="@{/img/flag/}+${a.symbol.countryFlag}+'.gif'" />
							<span class="m-align"><a th:href="@{/portofolio/order}+'?selected='+${a.symbol.code}">[[${a.symbol.name}]]<span class="hidden-xs hidden-sm"> ([[${a.symbol.code}]])</span></a></span>
						</span>					
					</td>
					<td>
						<span th:inline="text" th:object="${a.currency}">
							<img class="m-align" th:src="@{/img/flag/}+*{countryFlag}+'.gif'" />
							<span class="hidden-xs hidden-sm m-align">[[*{name}]]</span>
							<span class="hidden-md hidden-lg m-align">[[*{code}]]</span>
						</span>
					</td>
					<td th:text="${{a.quantity}}"></td>
					<td th:text="${{a.currentValue}}"></td>
					<td th:text="${{a.currentRate}}"></td>
					<td class="colored" th:text="${{a.percentChange}} eq 0 ? '0' : ${{a.percentChange}}"></td>
					<td class="colored" th:text="${{a.valueChange}} eq 0 ? '0' : ${{a.valueChange}}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/portofolio/order}"><input class="btn btn-success" value="Buy new asset"/></a>
	</div>		
</body>
</html>