<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Symbols</title>
<link rel="stylesheet" href="/webjars/bootstrap/@bootstrap.version@/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/signin.css" />
<meta charset="utf-8" />
</head>
<body>
	<script type="text/javascript" src="/webjars/bootstrap/@bootstrap.version@/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/angularjs/@angularjs.version@/angular-resource.min.js"></script>

	<div class="container">

		<form class="form-inline" method="post" action="#" th:action="@{/symbol/}">

			<div class="row">
				<label class="col-md-1 form-control-label">Code:</label>
				<div class="col-md-10">
					<input type="text" name="code" class="form-control" /> 
					<input class="btn btn-success" type="submit" value="Add symbol" />
				</div>
			</div>
		</form>
		<p></p>
		<form class="form-inline" method="post" action="#" th:action="@{/symbol/}" th:method="delete">
			<div class="row">
				<label class="col-md-1 form-control-label">Select symbol:</label>
				<div class="col-md-10">
					<select class="form-control" name="code">
						<option th:each="s : ${symbols}" th:value="${s.code}" th:text="${s.name}+' ('+${s.code}+')'"></option>
					</select> 
					<input class="btn btn-danger" type="submit" value="Remove symbol" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>