<clr-datagrid>
	<clr-dg-column [clrDgField]="'fromcur.name'" [clrDgSortBy]="sortFavoriteAndDate" [clrDgSortOrder]="descSort">{{ 'rate.from' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-xs-down" [clrDgField]="'tocur.name'">{{ 'rate.to' | translate }}</clr-dg-column>
	<clr-dg-column [clrDgSortBy]="'value'">{{ 'rate.value' | translate }}</clr-dg-column>
	<clr-dg-column [clrDgSortBy]="'date'" >{{ 'rate.updated' | translate }}</clr-dg-column>

	<clr-dg-row *clrDgItems="let r of rates">
		<clr-dg-cell title="{{r.fromcur.name}}">
			<ng-container *ngIf="isAuthorised"><clr-icon shape="star" [ngClass]="r.favorite ? 'is-solid':''" (click)="switchFavorite(r)"></clr-icon>&nbsp;&nbsp;</ng-container>
			<a class="m-align" routerLink="/chart/{{r.fromcur.code}}/{{r.tocur.code}}">{{r.fromcur.name}}</a>&nbsp;
			<img *ngIf="r.fromcur.countryFlag" class="m-align clr-hidden-xs-down" src="../assets/img/flag/{{r.fromcur.countryFlag}}.gif"/>
		</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-xs-down" title="{{r.tocur.name}}">
			<span class="m-align clr-hidden-md-up">{{r.tocur.code}}&nbsp;</span>
			<span class="m-align clr-hidden-sm-down">{{r.tocur.name}}&nbsp;</span>
			<img class="m-align clr-hidden-xs-down" src="../assets/img/flag/{{r.tocur.countryFlag}}.gif"/>
		</clr-dg-cell>
		<clr-dg-cell>{{ r.value | number }}</clr-dg-cell>
		<clr-dg-cell title="{{r.date | date:'dd/MM/yy HH:mm:ss' }}">{{ r.date | timeAgo:now }}</clr-dg-cell>
	</clr-dg-row>
	<clr-dg-footer>
		<clr-dg-pagination #pagination>
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]"></clr-dg-page-size>
			{{ 'pagination.text' | translate: {first: pagination.firstItem + 1, last: pagination.lastItem + 1, total: pagination.totalItems} }}
		</clr-dg-pagination>
	</clr-dg-footer>
</clr-datagrid>