<p-menubar [model]="items" data-test="header">
  <ng-template pTemplate="end">
		<ng-container *ngIf="login">
			<div class="flex align-items-center">
				<div class="col" *ngIf="baseCurrency" [style.color]="baseCurrency.quantity | balancedColor">
					<strong data-test="currency-quantity">{{baseCurrency.quantity | currency:baseCurrency.symbol.code}}</strong>
				</div>
				<p-menu class="col" #menu [model]="logoutItems" [popup]="true"></p-menu>
				<p-button size="small" (click)="menu.toggle($event)" icon="pi pi-angle-down" [label]="login"></p-button>
			</div>
		</ng-container>
		<ng-container *ngIf="!login">
			<p-button data-test="login" size="small" [outlined]="true"  routerLink="/login" icon="pi pi-sign-in" [label]="'login.title' | translate"></p-button>
			&nbsp;
			<p-button data-test="signup" size="small" [outlined]="true" severity="success" routerLink="/signup" [label]="'signup.title' | translate"></p-button>
		</ng-container>

  </ng-template>
</p-menubar>

<div class="main ml-auto mr-auto">
	<router-outlet></router-outlet>
</div>
