<p-button size="small" (click)="open()"><i class="pi pi-pencil"></i></p-button>

<p-dialog header="Header" [(visible)]="opened" [modal]="true" [formGroup]="pairForm">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">{{pair.name}}</span>
  </ng-template>

  <div class="field">
    <label for="code">Code</label>
    <input pInputText  id="code" type="text" formControlName="symbol" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
  <div class="field">
    <label for="name">Name</label>
    <input pInputText  id="name" type="text" formControlName="name" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
  </div>
  <div class="field">
    <label for="symbolCode">Symbol code</label>
    <input pInputText  id="symbolCode" type="text" formControlName="sourceCode" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
  </div>

  <ng-template pTemplate="footer">
    <p-button [disabled]="this.pairForm.pristine" (click)="update()" label="{{ 'admin.update-pair' | translate }}"></p-button>
    <p-button severity="danger" (click)="confirm($event,false)" label="{{ 'admin.delete-pair' | translate }}"></p-button>
    <p-button severity="danger" (click)="confirm($event, true)" label="{{ 'admin.delete-pair-symbol' | translate }}"></p-button>
    <p-confirmPopup></p-confirmPopup>
  </ng-template>
</p-dialog>
