<p-messages></p-messages>

<p-accordion class="w-full" *ngIf="portofolio as p" data-test="summary">
	<p-accordionTab>
		<ng-template pTemplate="header">
			<div class="flex align-items-center">
				<span class="vertical-align-middle">{{ 'portofolio.total' | translate }} : {{p.currentValue | currency:p.baseCurrency.symbol.code}}
					<img *ngIf="p.baseCurrency.symbol.countryFlag" src="../assets/img/flag/{{p.baseCurrency.symbol.countryFlag}}.gif" />
				</span>
			</div>
		</ng-template>
		<ng-template pTemplate="content">
			<p class="m-0">
				{{ 'percent-change' | translate }} : <span [style.color]="p.percentChange | balancedColor">{{p.percentChange | number}}</span>
			</p>
			<p class="m-0">
				{{ 'value-change' | translate }} : <span [style.color]="p.valueChange | balancedColor">{{p.valueChange | number}}</span>
			</p>
		</ng-template>
	</p-accordionTab>
</p-accordion>

<p-table #dt1 [value]="portofolio?.assets" styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
				 [sortField]="'valueChange'"
				 [sortOrder]="-1"
				 [defaultSortOrder]="-1"
				 [paginator]="true"
				 [rows]="10"
				 [showPageLinks]="false"
				 [showJumpToPageDropdown]="true"
				 currentPageReportTemplate="{first} - {last} ({totalRecords})"
				 [rowsPerPageOptions]="[10, 20, 50, 100]"
				 [globalFilterFields]="['symbol.name','symbol.code']"
>
	<ng-template pTemplate="caption">
		<div class="flex">
			<span class="mr-auto">
				<app-order *ngIf="(availableSymbols$ | async) as availableSymbols" [availableSymbols]="availableSymbols" (orderCompleted)="orderCompleted($event)"></app-order>
			</span>
			<span class="p-input-icon-left">
				<i data-test="search-icon" class="pi pi-search" *ngIf="!filter"></i>
				<i data-test="search-clear" class="pi pi-times" *ngIf="filter" (click)="clearTable(dt1)"></i>
				<input data-test="search-bar" pInputText type="text" class="p-inputtext-sm" [(ngModel)]="filter" (input)="dt1.filterGlobal($event.target.value, 'contains')" />
			</span>
		</div>
	</ng-template>
	<ng-template pTemplate="header">
		<tr>
			<th>{{ 'asset.name' | translate }}</th>
			<th class="hidden lg:table-cell" pSortableColumn="quantity">{{ 'asset.quantity' | translate }}<p-sortIcon field="quantity"></p-sortIcon></th>
			<th class="hidden lg:table-cell">{{ 'asset.current-rate' | translate }}</th>
			<th class="hidden xl:table-cell">{{ 'asset.current-value' | translate }}</th>
			<th class="hidden sm:table-cell" pSortableColumn="percentChange">{{ 'percent-change' | translate }}<p-sortIcon field="percentChange"></p-sortIcon></th>
			<th class="hidden md:table-cell" pSortableColumn="valueChange">{{ 'value-change' | translate }}<p-sortIcon field="valueChange"></p-sortIcon></th>
			<th></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-a>
		<tr data-test="asset">
			<td title="{{a.symbol.code}}">
				<span>{{a.symbol.name}}<span class="hidden xl:inline"> ({{a.symbol.code}})</span></span>&nbsp;
				<img *ngIf="a.symbol.countryFlag" class="hidden lg:inline" src="../assets/img/flag/{{a.symbol.countryFlag}}.gif" />
			</td>
			<td class="hidden lg:table-cell">{{ a.quantity | number }}</td>
			<td class="hidden lg:table-cell">
				{{ a.currentRate | currency:a.currency.code }}
				<img src="../assets/img/flag/{{a.currency.countryFlag}}.gif" />
			</td>
			<td class="hidden xl:table-cell">{{ a.currentValue | currency:a.currency.code }}</td>
			<td class="hidden sm:table-cell" [style.color]="a.percentChange | balancedColor">{{ a.percentChange | number }}</td>
			<td class="hidden md:table-cell" [style.color]="a.valueChange | balancedColor">{{ a.valueChange | number }}</td>
			<td>
				<app-order [asset]="a" [symbol]="a.symbol" (orderCompleted)="orderCompleted($event)"></app-order>
			</td>
		</tr>
	</ng-template>
</p-table>
