<clr-alert *ngIf="!!message" (clrAlertClosedChange)="resetMessage()"><clr-alert-item><span class="alert-text">{{message}}</span></clr-alert-item></clr-alert>

<clr-stack-view>
    <clr-stack-block *ngIf="portofolio as p" >
        <clr-stack-label>{{ 'portofolio.total' | translate }}</clr-stack-label>
        <clr-stack-content>
					{{p.currentValue | number}}&nbsp;
					{{p.baseCurrency.symbol.name}}&nbsp;
					<img *ngIf="p.baseCurrency.symbol.countryFlag" src="../assets/img/flag/{{p.baseCurrency.symbol.countryFlag}}.gif" />
				</clr-stack-content>
        <clr-stack-block>
            <clr-stack-label>{{ 'percent-change' | translate }}</clr-stack-label>
            <clr-stack-content [style.color]="p.percentChange | balancedColor">{{p.percentChange | number}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block>
            <clr-stack-label>{{ 'value-change' | translate }}</clr-stack-label>
            <clr-stack-content [style.color]="p.valueChange | balancedColor">{{p.valueChange | number}}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>

<app-order *ngIf="(availableSymbols$ | async) as availableSymbols" [availableSymbols]="availableSymbols" (orderCompleted)="orderCompleted($event)"></app-order>

<clr-datagrid class="datagrid-compact">
	<clr-dg-column [clrDgField]="'symbol.name'">{{ 'asset.name' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-md-down" [clrDgField]="'currency.name'">{{ 'asset.currency' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-md-down" [clrDgSortBy]="'quantity'">{{ 'asset.quantity' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-lg-down" [clrDgSortBy]="'currentValue'">{{ 'asset.current-value' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-md-down" [clrDgSortBy]="'currentRate'">{{ 'asset.current-rate' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-xs-down" [clrDgSortBy]="'percentChange'">{{ 'percent-change' | translate }}</clr-dg-column>
	<clr-dg-column class="clr-hidden-sm-down" [clrDgSortBy]="'valueChange'" [clrDgSortOrder]="descSort">{{ 'value-change' | translate }}</clr-dg-column>
	<clr-dg-column></clr-dg-column>

	<clr-dg-row *clrDgItems="let a of portofolio?.assets">
		<clr-dg-cell title="{{a.symbol.code}}">
			<span class="m-align">{{a.symbol.name}}<span class="clr-hidden-lg-down"> ({{a.symbol.code}})</span></span>&nbsp;
			<img *ngIf="a.symbol.countryFlag" class="m-align clr-hidden-md-down" src="../assets/img/flag/{{a.symbol.countryFlag}}.gif" />
		</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-md-down" title="{{a.currency.code}}">
			<span class="m-align clr-hidden-lg-down">{{a.currency.name}}&nbsp;</span>
			<span class="m-align clr-hidden-xl-up">{{a.currency.code}}&nbsp;</span>
			<img *ngIf="a.currency.countryFlag" class="m-align" src="../assets/img/flag/{{a.currency.countryFlag}}.gif" /> 
		</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-md-down">{{ a.quantity | number }}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-lg-down">{{ a.currentValue | number }}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-md-down">{{ a.currentRate | number }}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-xs-down" [style.color]="a.percentChange | balancedColor">{{ a.percentChange | number }}</clr-dg-cell>
		<clr-dg-cell class="clr-hidden-sm-down" [style.color]="a.valueChange | balancedColor">{{ a.valueChange | number }}</clr-dg-cell>
		<clr-dg-cell>
			<app-order [asset]="a" [symbol]="a.symbol" (orderCompleted)="orderCompleted($event)"></app-order>
		</clr-dg-cell>
	</clr-dg-row>
	<clr-dg-footer>
		<clr-dg-pagination #pagination>
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]"></clr-dg-page-size>
			{{ 'pagination.text' | translate: {first: pagination.firstItem + 1, last: pagination.lastItem + 1, total: pagination.totalItems} }}
		</clr-dg-pagination>
	</clr-dg-footer>
</clr-datagrid>